* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  visibility: inherit;
  border: 0px solid red;
}

body {
  display: grid;
  justify-items: center;
  position: relative;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 1rem 3rem;
  justify-items: center;
  justify-self: center;
  margin: 1rem;
  width: 30rem;
}

option {
  text-align: center;
}

#difficulty {
  border-radius: 0.7rem;
}

.just-hidden {
  visibility: hidden;
}

.blur-me {
  filter: blur(1px);
}

.select {
  display: grid;
  gap: 0;
  justify-items: center;
  align-items: center;
}

.change-symbols, .reset-button {
  padding: 0.2rem;
  border-radius: 1rem;
  border: 0.1rem solid #338;
  height: 2.5rem;
  align-self: center;
}

.reset-button {
  border-color: #833;
  color: #400;
  background-color: #eaa;
}

#change-symbols-form-area {
  display: grid;
  padding: 1rem;
  z-index: 99;
  position: fixed;
  top: 45%;
  left: 50%;
  border-radius: 3rem;
  border: 0.3rem solid #005;
  background-color: #26b;
  transform: translate(-50%, -50%);
}

#change-symbols-form {
  display: grid;
  justify-content: center;
}

#x-symbol-label, #o-symbol-label {
  color: #ee9;
  display: grid;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.symbol-input {
  text-align: center;
}

.hide-form {
  visibility: hidden;
}

.change-symbols-submit {
  padding: 1rem;
  width: 5rem;
  justify-self: center;
  border-radius: 3rem;
}

.player-select {
  grid-row: 2 / -1;
  width: 5rem;
  border-radius: 3rem;
  margin: 1rem;
  height: 3rem;
}

.player-choice {
  border: 0.2rem solid #004;
}

.play-area {
  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #002;
  box-shadow: 00px 00px 1rem #124;
  z-index: 1;
}

.button-holder {
  width: auto;
}

.button-top-row {
  margin-bottom: 0.18rem;
}

.button-inner-row {
  margin-bottom: 0.18rem;
  margin-top: 0.18rem;
}

.button-bottom-row {
  margin-top: 0.18rem;
}

.button-left-column {
  margin-right: 0.18rem;
}

.button-inner-column {
  margin-left: 0.18rem;
  margin-right: 0.18rem;
}

.button-right-column {
  margin-left: 0.18rem;
}

.play-button {
  height: 100%;
  width: 100%;
}

.draw-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
  background: #555555aa;
  position: absolute;
  color: #fff;
  font-size: 5rem;
  font-weight: 800;
}

.winners-overlay {
  z-index: 2;
  visibility: hidden;
  width: 30rem;
  border: 1px solid red;
  height: 30rem;
  position: absolute;
  top: 10.5rem;
}

.winners-row-lines {
  display: grid;
  visibility: inherit;
}

.winners-column-lines {
  display: grid;
  visibility: inherit;
}

.win-forward-diagonal, .win-backward-diagonal {
  border: 0px solid gray;
  width: 28rem;
  height: 28rem;
  position: relative;
  top: 0.8rem;
  left: 0.9rem;
  visibility: inherit;
}

.win-forward-diagonal:after{
  content: "";
  position: absolute;
  border-top: 0.3rem solid red;
  width: 40rem;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.win-backward-diagonal:after{
  content: "";
  position: absolute;
  border-bottom: 0.3rem solid red;
  width: 40rem;
  left: -0.1rem;
  margin: 0.2rem;
  transform: rotate(-45deg);
  transform-origin: left;
}

.win-row {
  border-bottom: 0.3rem solid red;
  width: 28rem;
  height: 1px;
  position: absolute;
  left: 1rem;
  visibility: inherit;
}

.win-column {
  border-left: 0.3rem solid red;
  width: 1px;
  height: 28rem;
  position: absolute;
  top: 1rem;
  visibility: inherit;
}



.unblur-me {
  filter: blur(-3px);
}