* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  visibility: inherit;
  border: 0px solid red;
}

body {
  display: grid;
  justify-items: center;
  position: relative;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 1rem 3rem;
  justify-items: center;
  justify-self: center;
  margin: 1rem;
  width: 30rem;
}

#difficulty {
  border-radius: 0.7rem;
}

.change-symbols {
  padding: 0.2rem;
  border-radius: 1rem;
  border: 0.1rem solid #338;
}

#change-symbols-form-area {
  display: grid;
  padding: 1rem;
  z-index: 99;
  position: fixed;
  top: 45%;
  left: 50%;
  border-radius: 3rem;
  border: 0.3rem solid #005;
  background-color: #26b;
  transform: translate(-50%, -50%);
}

#change-symbols-form {
  display: grid;
  justify-content: center;
}

#x-symbol-label, #o-symbol-label {
  color: #ee9;
  display: grid;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.symbol-input {
  text-align: center;
}

.hide-form {
  visibility: hidden;
}

.change-symbols-submit {
  padding: 1rem;
  width: 5rem;
  justify-self: center;
  border-radius: 3rem;
}

.player-select {
  grid-row: 2 / -1;
  width: 5rem;
  border-radius: 3rem;
  margin: 1rem;
  height: 3rem;
}

.player-choice {
  border: 0.2rem solid #004;
}

.play-area {
  height: 30rem;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #002;
  box-shadow: 00px 00px 1rem #124;
}

.button-holder-1, .button-holder-2, .button-holder-3 {
  margin-bottom: 0.3rem;
}

.button-holder-1, .button-holder-4, .button-holder-7 {
  margin-right: 0.3rem;
}

.button-holder-3, .button-holder-6, .button-holder-9 {
  margin-left: 0.3rem;
}

.button-holder-7, .button-holder-8, .button-holder-9 {
  margin-top: 0.3rem;
}

.play-button {
  height: 100%;
  width: 100%;
}